
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.login-form {
  background-color: white;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  color: rgb(115, 115, 115);

}

.login-form>div{
  max-width: 100%;
  margin: 0 auto;
}

.logo-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px; 
}

.logo {
  // max-width: 80%;
  // margin-bottom: 20px;
  // background-size: auto; 
  width: 200px; 

  // height: 50px; 
  // display: inline-block; 
  // background-position: center center; 
  // background-repeat: no-repeat no-repeat; 
  // margin-bottom: 40px;
}

input {
  width: 90%;
  display: block;
  max-width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.save-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  align-self: flex-start;
  margin:16px auto !important;
  font-family: 'Open Sans', sans-serif;

  input{
    width: 7%;
    width: 1rem; /* Defina a largura desejada */
    height: 1rem; 
  }
  span{
    margin-left: 5px;
    width: 85%;
    font-size: 0.9rem;
    text-align: left;
  }
}

.button {
  width: 100%;
  font-size: 14px;
  font-weight:bolder;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(105, 178, 244);
  // opacity: .7;
  border: none;
}

.forgot-password {
  color: #003569;
  cursor: pointer;
}


.or-area{
  display: flex;
  flex-direction: row;
  color: rgb(0,0,0);
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.left-{
  top: .45em;
  flex-shrink: 1;
  height: 1px;
  position: relative;
  flex-grow: 1;
  width: 30%;
  background-color: rgb(219, 219, 219);
  color: black;
  direction: ltr;
}

.or{
  margin-right: 18px;
  margin-left: 18px;
  color: rgb(115, 115, 115);
}

.right-{
  top: .45em;
  flex-shrink: 1;
  height: 1px;
  position: relative;
  flex-grow: 1;
  width: 30%;
  background-color: rgb(219, 219, 219);
  color: black;
  direction: ltr;
}



.fb-bg{
  position: relative;
  top: 2px;
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 2px;

}

.face-icon{
  color: rgb(66, 147, 240);
  position: relative;
  font-size: 13px;
  left: 2px;
  top: 1px;
}

.area-face{
  border: 0;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0!important;
  position: relative;
  text-align: center;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  pointer-events: auto;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: inherit;
  width: auto;
  line-height: 18px;
  background: none;
  font-size: 1rem;

}

.face-case{
  overflow-y: visible;
  align-content: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  background-color: rgb(4, 149, 247);
  max-width: 90%;
  padding: 8px 0;
  margin: 8px auto;
  height: 1.5rem;
}

.reset-pass{
  text-decoration: none;
  color:rgb(46, 165, 245);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 16px;
  margin-top: 12px!important;
  margin-bottom: 12px!important;

  text-align: center!important;
}

.high-light{
  text-decoration: none;
  color:rgb(33, 160, 245);

}

.buttons>.forgot-pass{
  width: 100%;
  text-align: end;
  margin-bottom: 22px;
}


.app-case{
  display: flex;
  flex-direction: row;
}

.sign-in{
  margin-top: 35px !important;
  font-family: 'Open Sans', sans-serif;
}