<div class="container">
  <div class="login-form">
      <div class="logo-div">
        <img src="assets/Instagram-Logo.png" class="logo"  alt="">
        <!-- <i data-visualcompletion="css-img" aria-label="Instagram" class="logo" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yS/r/ajlEU-wEDyo.png&quot;)"></i> -->
      </div>
      

      <div class="_ab32">
          <div class="x6s0dn4 ">

              <div class="">

              </div>
          </div>
        </div>

        <div class="face-case">
            <button class="area-face" type="button">
                <div class="fb-bg">
                    <fa-icon [icon]="faFacebook" class="face-icon" ></fa-icon>
                </div>
                <span class="_ab37">Continuar com o Facebook</span>
            </button>
        </div>

        <div class="or-area">
          <div class="left-"></div>
          <div class="or">OU</div>
          <div class="right-"></div>
        </div>

        <div class="inputs">
            <input placeholder="Telefone, nome de usuário ou email" aria-label="Número de telemóvel, nome de utilizador ou e-mail" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="75" class="_aa4b _add6 _ac4d" dir="" type="text" value="" name="username">

          <input type="password" id="password" placeholder="Senha">
        </div>

        <div class="save-login">
          <input type="checkbox" name="savelogin" id="">
          <span>Salvar informações de login</span>
        </div>


        <div class="buttons">

          <div class="forgot-pass">
            <a class="reset-pass" href="" role="link" tabindex="0">Esqueceu a senha?</a>
          </div>

          <button class="button" disabled="" type="submit">
            <div class="">Entrar</div>
          </button>

          <div class="sign-in">
              <p class="">Não tem uma conta?
                <a class="high-light" href="/accounts/emailsignup/" role="link" tabindex="0">
                  <span class="" >Cadastra-se.</span>
                </a>
              </p>
          </div>
        </div>

      </div>


</div>
